html
  head
    title= title
  body
    h1= message
    // definizione della tabella
    if list !== undefined
      table
        thead
          th(align='left') id
          th(align='left') Cognome 
          th(align='left') Nome 
          th(align='left') Indirizzo email
        each utente, index in list
          // una riga per ogni utente
          tr
            // prima cella id dell'utente 
            td= utente._id
            // seconda cella il cognome dell'utente
            td= utente.lastName
            // terza cella il nome dell'utente
            td= utente.firstName
            // quarta cella la mail dell'utente
            td
              a(href='mailto:' + utente.email) #{utente.email}